rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /csvs/{fileName} {
      allow read: if true;
      allow write: if request.auth != null
        && request.resource.size < 2 * 1024 * 1024
        && request.resource.contentType.matches('text/csv.*');
    }

    match /users/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
